* {
    font-family: 'Work Sans';
    margin: 0;
}

/* banner styles */
.banner {
    position: relative;
    text-align: right;

}

.banner-top-right {
    position: absolute;
    top: 230px;
    right: 220px;
    left: 845px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 30px;
}

.banner-button {
    border-radius: 5px;
    width: 160px;
    height: 70px;
    background: #F15B22;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;

}

/* About person section */

.about-person {
    display: flex;
    margin-top: 131px;
    margin-left: 206px;
}

.about-failures {
    margin-top: 230px;
    margin-right: 320px;
    margin-left: 87px;
}

.design {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;

}

.design-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

ul li:before {
    content: '✓';
}

